<div class="flex flex-col items-center justify-center">
    <h3 class="text-xl font-medium mb-4">Appearance</h3>

    <div class="flex flex-col gap-8 w-full max-w-md items-center">
        <div class="w-full">
            <div class="flex flex-col gap-2 items-center">
                <label class="font-medium">Dark Mode</label>
                <p-inputSwitch [ngModel]="settings().darkMode" (ngModelChange)="updateSetting('darkMode', $event)" />
                <small class="text-secondary">Enable dark mode for a better nighttime viewing experience</small>
            </div>
        </div>

        <div class="w-full">
            <div class="flex flex-col gap-2 items-center">
                <label class="font-medium">Default Tag Color</label>
                <p-colorPicker [ngModel]="settings().defaultTagColor"
                    (ngModelChange)="updateSetting('defaultTagColor', $event)" />
                <small class="text-secondary">Select the default color for new tags</small>
            </div>
        </div>
    </div>
</div>
